.navContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.navContent > div:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}

.navContent > div:nth-child(1)   {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 9px;
    border-radius: 5px;
    width: 90px;
}

.navContent > div:nth-child(3) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 9px;
    border-radius: 5px;
    width: 90px;
}

.navContent > div:nth-child(1):hover {
    cursor: pointer;
    box-shadow: 0 0 7px 0px gray;
}

.navContent > div:nth-child(3):hover {
    cursor: pointer;
    box-shadow: 0 0 7px 0px gray;
}
